.menu{
    padding: 70px 0 75px;

    h2{
        text-align: center;
    }
    &__intro{
        max-width: 565px;
        text-align: center;
        margin: $mc;
    }
}
.tabs__container{
    margin: 45px auto 55px;
    position: relative;
    height: 60px;
    max-width: $container;
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar{
        height: 8px;
        background-color: $tabs-color;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $yellow;
    }
}
.tabs{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include flex(center, center);
    flex-wrap: nowrap;

    &__item{
        min-width: 163px;
        cursor: pointer;
        padding: 0 10px;
        transition: .3s;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color:$tabs-color;
        height: 47px;
        @include flex(center, center);
        &:hover,
        &.active{
            background-color: $yellow;
        }
        &:not(:last-child){
            border-right: 1px solid $tabs-color-opacity;
        }
    }
    &.overflow{
        left: 0;
        transform: none;
    }
}

.menu__sliders{
    position: relative;
    max-width: $container;
    margin: $mc;
    overflow: hidden;
    height: 500px;
}
.menu__slider{
    height: 100%;
}
.menu__slider-block{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 1s;

    &.show{
        opacity: 1;
        z-index: 2;
    }
}

.menu__item{
    max-width: 510px;
    @include flex(space-between, center);
    &-img{
        width: 260px;
        height: 170px;
        object-fit: cover;
        border:4px solid $yellow;
    }
    &-text{
        max-width: 220px;
        margin-left: 25px;
    }
}
.menu__title,
.menu__price{
    font-family: $kurale;
    font-size: 18px;
    color:$tabs-color;
    text-transform: uppercase;
    font-weight: 400;
}
.menu__title{
    display: inline-block;
    border-bottom: 1px solid $tabs-color;
}
.menu__descr{
    font-size: 12px;
    color:$gray-opacity;
    margin-top: 24px;
    line-height: 14px;
}
.menu__slider .swiper-slide{
    max-height: 175px;
    display: flex;
    justify-content: center;
}
.menu__slider .swiper-wrapper{
    flex-wrap: wrap;
}
.menu__pagination{
    @include flex(center, center);
    gap:20px;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background-color: $tabs-color-opacity;
        border-radius: 50%;
    }
    .swiper-pagination-bullet-active{
        background-color: $yellow;
        opacity: 1;
    }
}